@font-face {
  font-family: "iconfont"; /* Project id 3735719 */
  src: url('//at.alicdn.com/t/c/font_3735719_9a1ow3qpgn7.woff2?t=1666945344898') format('woff2'),
       url('//at.alicdn.com/t/c/font_3735719_9a1ow3qpgn7.woff?t=1666945344898') format('woff'),
       url('//at.alicdn.com/t/c/font_3735719_9a1ow3qpgn7.ttf?t=1666945344898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e876";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}
/* 卡片处小图标 */
.card_icon {
  /* 修改颜色 */
  color: #4c4948;
  /* 修改大小 */
  font-size: 19px;
}
